{% extends 'mcd/base.html' %}
{% block title %}
    MCD | Upload
{% endblock %}
{% block body %}
    <body onload="get_location('{{ point }}')">

    <h1>Add two points to make a line, and specify the real length, to compute the image scale</h1>
{% include 'mcd/navigation/photo_analysis_nav.html' with photo_analysis=display_image %}
{% if point == 'r' %}
    <p class="margin-top-15px">
        Currently changing <strong class="text-red">red</strong> marker
        <br>
        Please click the button below the image to switch the marker
    </p>
{% else %}
    <p class="margin-top-15px">
        Currently changing <strong class="text-green">green</strong> marker
        <br>
        Please click the button below the image to switch the marker
    </p>
{% endif %}
<div class="floating-wrapper">
    <div class="margin-right-100px">



        {% if point == 'r' %}
            <a class="btn btn-success width100" href="../../../../{{ display_image.pk }}/{{ clicked_x2 }}/{{ clicked_y2 }}/g/?{{ clicked_x }},{{ clicked_y }}">
                Switch to change green marker
            </a>
        {% else %}
            <a class="btn btn-danger width100" href="../../../../{{ display_image.pk }}/{{ clicked_x2 }}/{{ clicked_y2}}/r/?{{ clicked_x }},{{ clicked_y }}">
                Switch to change red marker
            </a>
        {% endif %}

        <div class="record-container">
            <div class="row">
                <div class="col-sm-12 image-container">
                    <a href={% url 'mcd:add-scale-3' display_image.pk clicked_x clicked_y point %}>
                        <img id="interactive-img" class="image-scaling" ismap src="{{ display_image.input_photo.url }}">
                    </a>
                    <div id="image-marker-point-1"></div>
                    <div id="image-marker-point-2"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>


{#        <div class="img-container">#}
{#            <div class="relative-wrapper">#}
{#                <a href={% url 'mcd:add-scale-3' display_image.pk clicked_x clicked_y point %}>#}
{#                    <img class="img-scaling" width="640px" height="360px" id="interactive-img" ismap src="{{ display_image.input_photo.url }}">#}
{#                </a>#}
{#                <div id="image-marker-point-1"></div>#}
{#                <div id="image-marker-point-2"></div>#}
{#                <div class="line"></div>#}
{#            </div>#}
{#        </div>#}




    </div>

    <div>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% elif success_message %}
            <p><strong>{{ success_message }}</strong></p>
        {% endif %}


        <p>
            Current Scale: {{ display_image.scale|floatformat:3 }} (1 px = {{ display_image.scale|floatformat:3 }} cm)
        </p>

        {% if point == 'r' %}
            <div class="floating-wrapper">
                Green Marker Coordinates:
                {% if clicked_x %}
                    <p>x <strong class="label-grey" id="x_coord">{{ clicked_x }}</strong></p>
                {% endif %}
                &nbsp;
                {% if clicked_y %}
                    <p>y <strong class="label-grey" id="y_coord">{{ clicked_y }}</strong></p>
                {% endif %}
            </div>

            <div class="floating-wrapper">
                Red Marker Coordinates:
                {% if clicked_x2 %}
                    <p>x <strong class="label-grey" id="x_coord_2">{{ clicked_x2 }}</strong></p>
                {% endif %}
                &nbsp;
                {% if clicked_y2 %}
                    <p>y <strong class="label-grey" id="y_coord_2">{{ clicked_y2 }}</strong></p>
                {% endif %}
            </div>

        {% endif %}

        {% if point == 'g' %}
           <div class="floating-wrapper">
                Green Marker Coordinates:
                {% if clicked_x2 %}
                    <p>x <strong class="label-grey" id="x_coord_2">{{ clicked_x2 }}</strong></p>
                {% endif %}
                &nbsp;
                {% if clicked_y2 %}
                    <p>y <strong class="label-grey" id="y_coord_2">{{ clicked_y2 }}</strong></p>
                {% endif %}
            </div>

            <div class="floating-wrapper">
                Red Marker Coordinates:
                {% if clicked_x %}
                    <p>x <strong class="label-grey" id="x_coord">{{ clicked_x }}</strong></p>
                {% endif %}
                &nbsp;
                {% if clicked_y %}
                    <p>y <strong class="label-grey" id="y_coord">{{ clicked_y }}</strong></p>
                {% endif %}
            </div>

        {% endif %}

    </div>
</div>
    <form class="form-horizontal" action="" method="post"
      enctype="multipart/form-data">
        {% csrf_token %}


        <div class="form-group">
            <p id="length-reveal">
                Line width is x pixels
            </p>
            <label for="input_real">Enter the real length of the line in centimetres (cm)</label>
            <input id="input_px"   name="input_px_length"   type="hidden" step=".01">
            <input id="input_real" name="input_real_length" type="number" step=".01">

            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    Submit
                </button>
            </div>
        </div>

    </form>








{#    <button type="submit" href={% url 'mcd:add-scale-2' display_image.pk clicked_x clicked_y %}>#}
{#        Confirm First Point#}
{#    </button>#}

    </body>

<script>
    function get_location(point)
    {
        {#alert(point);#}
        x = document.getElementById('x_coord').innerHTML;
        y = document.getElementById('y_coord').innerHTML;
        x2 = document.getElementById('x_coord_2').innerHTML;
        y2 = document.getElementById('y_coord_2').innerHTML;

        {#document.getElementById('interactive-img').onload = put_marker2(x2, y2);#}
        {#document.getElementById('interactive-img').onload = put_marker1(x, y);#}

        if(point === 'r')
        {
            document.getElementById('interactive-img').onload = put_marker2(x2, y2);
            document.getElementById('interactive-img').onload = put_marker1(x, y);
        }

        else if (point === 'g')
        {
            document.getElementById('interactive-img').onload = put_marker2(x, y);
            document.getElementById('interactive-img').onload = put_marker1(x2, y2);
        }
    }

function put_marker1(from_left, from_top)
    {
        with(document.getElementById('image-marker-point-1'))
        {
            style.left = from_left + "px";
            style.top = from_top + "px";
            style.display = "block";
        }
    }
function put_marker2(from_left, from_top)
    {
        with(document.getElementById('image-marker-point-2'))
        {
            style.left = from_left + "px";
            style.top = from_top + "px";
            style.display = "block";
        }
    }

function lineDistance(x, y, x0, y0, width_scaling, height_scaling){
    {#return Math.sqrt((x -= x0) * x * height_scaling*height_scaling*width_scaling*width_scaling +#}
    {#                 (y -= y0) * y * width_scaling*width_scaling* height_scaling*height_scaling );#}

    var x_len = Math.abs(x - x0) * height_scaling;
    var y_len = Math.abs(y - y0) * width_scaling;

    return Math.sqrt(x_len*x_len + y_len*y_len);

};

function getContainedSize(img)
{
  var ratio = img.naturalWidth/img.naturalHeight;
  var width = img.height*ratio;
  var height = img.height;
  if (width > img.width)
  {
    width = img.width;
    height = img.width/ratio
  }
  return [width, height]
}

function drawLine(y1, x1, y2, x2, line)
{
    var wall_img    = document.getElementById('interactive-img');
    var width_ratio = wall_img.naturalWidth / getContainedSize(wall_img)[0];
    var height_ratio = wall_img.naturalHeight / getContainedSize(wall_img)[1];

    {#var angle = Math.atan2(width_ratio * (x1 - x2), height_ratio * (y1 - y2)) * 180 / Math.PI;#}
    var angle = Math.atan2((x1 - x2), (y1 - y2)) * 180 / Math.PI;
    {#var distance = lineDistance(y2, x2, y1, x1, width_ratio, height_ratio);#}
    var display_distance = lineDistance(x2, y2, x1, y1, width_ratio, height_ratio);
    var draw_line_distance = lineDistance(x2, y2, x1, y1, 1, 1);

    var length_label = document.getElementById('length-reveal');

    {#var img_scaling = wall_img.naturalWidth;#}


    length_label.innerText = "Line width is " + display_distance.toFixed(2) + " pixels " +
                             "\nOriginal Image size: " + wall_img.naturalWidth + "x" + wall_img.naturalHeight +
                             "\nDisplay resolution:" + getContainedSize(wall_img)[0] + "x" + getContainedSize(wall_img)[1] +
                             ", scaling: " + width_ratio.toFixed(2) + " / " + height_ratio.toFixed(2);

    var hidden_form = document.getElementById('input_px');
    hidden_form.value = display_distance ;

    {#alert("Line width is " + distance + " pixels");#}
    console.log("Line width is " + display_distance  + " pixels");
    {#console.log(distance);#}

  // Set Angle
  $(line).css('transform', 'rotate(' + angle + 'deg)');

  // Set Width
  $(line).css('width', draw_line_distance + 'px');

  // Set Position
  $(line).css('position', 'absolute');
  {#$(line).offset({top: Math.abs(y1), left: Math.abs(x1)});#}

  {#$(line).offset({top: 10px, left: 10px});#}
  $(line).css('top', x2 + 'px');
  {#$(line).css('top', '0px');#}
  $(line).css('left', y2 + 'px');
  {#$(line).css('left', '0px');#}

  {#if(y1 < y2)#}
  {# {#}
  {#  $(line).offset({top: Math.abs(parseInt(y1, 10)), left: Math.abs(parseInt(x1, 10))});#}
  {# }#}
  {#else#}
  {# {#}
  {#  $(line).offset({top: Math.abs(parseInt(y2, 10)), left: Math.abs(parseInt(x2, 10))});#}
  {# }#}
}

setInterval(function() {
  drawLine({{ clicked_x }}, {{ clicked_y }},
           {{ clicked_x2 }}, {{ clicked_y2 }},
            '.line');
 }, 100);



</script>


{% endblock %}

