{# include the template block: #}
{% extends 'mcd/base.html' %}
{% block title %}
    MCD | Details
{% endblock %}
{% block body %}
    <h2>Results for Analysis ID '{{ photo_analysis.id }}'</h2>

    {% include 'mcd/navigation/photo_analysis_nav.html' %}

    <div class="record-container">
        <h3>Input Image: </h3>
        <div class="row">
            <div class="col-sm-12 image-container">
                <img class="image-scaling" src={{ photo_analysis.input_photo.url }}>
            </div>
        </div>

        <h3>Output Image:</h3>
        <div class="row">
            {% if photo_analysis.output_photo %}
            <div class="col-sm-12 image-container">
                <img class="image-scaling" src={{ photo_analysis.output_photo.url }}>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}