{# include the template block: #}
{% extends 'mcd/base-records.html' %}
{% block title %}
    MCD | {{ record.title }}
{% endblock %}
{% block body %}

<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#sidebarCollapse').on('click', function ()
        {
            $('#sidebar').toggleClass('active');
            $('.hideable').toggleClass('hidden');
            $('.showable').toggleClass('hidden');
            $('.shrinkable').toggleClass('text-small');
        });
    });

    jQuery(function()
    {
         jQuery('#ImageMap1').maphilight();
         $('.map').maphilight({ alwaysOn: true });

    });

    function slide_div_toggle(div_id)
    {
        sliding_div = document.getElementById(div_id);
        sliding_div.classList.toggle("slide-on");
    }

    function getContainedSize(img)
    {
      var ratio = img.naturalWidth/img.naturalHeight;
      var width = img.height*ratio;
      var height = img.height;
      if (width > img.width)
      {
        width = img.width;
        height = img.width/ratio
      }
      return [width, height]
    }

    function resize_marker_location()
    {
         var wall_img    = document.getElementById('ImageMap1');
         var width_ratio = wall_img.naturalWidth / getContainedSize(wall_img)[0];
         var height_ratio = wall_img.naturalHeight / getContainedSize(wall_img)[1];
         var max_crack_len  = {{ display_image.crack_length }}

         console.log("width:  " + wall_img.naturalWidth  + " " + getContainedSize(wall_img)[0]);
         console.log("height: " + wall_img.naturalHeight + " " + getContainedSize(wall_img)[1]);
         console.log("ratios: " + width_ratio + " " + height_ratio);

         markers = document.getElementsByClassName("crack-marker");
         for(i = 0; i < markers.length; i++)
         {
             scaled_x = markers[i].getAttribute("coords").split(',')[0]/width_ratio;
             scaled_y = markers[i].getAttribute("coords").split(',')[1]/height_ratio;
             radius   = markers[i].getAttribute("coords").split(',')[2];

             // normalise the radius
             normalised_radius = 50 * radius/max_crack_len;

             markers[i].setAttribute("coords", scaled_x+","+scaled_y+","+normalised_radius);

             units = "cm";
             if (Math.abs(1.00 - {{ display_image.scale }}) < 0.0001)
             {
                units = "px";
             }

             title = markers[i].getAttribute("title");
             markers[i].setAttribute("title", title+"\n"+
                                     parseFloat(radius*{{ display_image.scale }}).toFixed(2) + " " + units)
         }

         // Set the correct positions of crack label markers:

         labels = document.getElementsByClassName("crack-label");
         for(j = 0; j < labels.length; j++)
          {
             style_dict = JSON.parse(labels[j].getAttribute("style"));

             style_dict["left"] = parseFloat(style_dict["left"]) / width_ratio  + "px";
             style_dict["top"] = parseFloat(style_dict["top"]) / height_ratio + "px";

             style_string = "";
             for(const [key, value] of Object.entries(style_dict))
             {
                 style_string += key + ":" + value + "; ";
             }

             labels[j].setAttribute("style", style_string);
             console.log(labels[j].getAttribute("style"));
          }

         detailed_crack_info = document.getElementsByClassName("detailed_crack_info");
         detailed_crack_unit = document.getElementsByClassName("detailed_crack_unit");

         for(k = 0; k < detailed_crack_info.length; k++)
         {
            length = detailed_crack_info[k].innerText;
            detailed_crack_info[k].innerText = parseFloat(length*{{ display_image.scale }}).toFixed(2);

            units = "cm";
            if (Math.abs(1.00 - {{ display_image.scale }}) < 0.0001)
            {
                units = "px";
            }

            detailed_crack_unit[k].innerText = units;

         }
    }
</script>

        <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header text-sidebar">
                <h3>History</h3>
                <strong>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                </strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/mcd/add-scale-3/{{ display_image.pk }}/1/1/g/?11,11"
                       class="btn btn-success margin-top-15px margin-bottom-15px dropdown-toggle text-sidebar back-green hideable">
                        <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>&nbsp
                        Update Scale Interactively
                    </a>
                    <a href="#homeSubmenu"
                       data-toggle="collapse"
                       aria-expanded="false"
                       class="btn btn-success margin-top-15px margin-bottom-15px dropdown-toggle text-sidebar back-green">
                        <span class="glyphicon glyphicon-random hideable" aria-hidden="true"></span>&nbsp
                        Compare
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a class="btn btn-success back-dark-black margin-bottom-5px text-sidebar"
                               href="{% url 'mcd:detailed_record_compare1' record.id 'comparison1'  display_image.id display_image_2.id %}">
                                Side-by-side
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-success back-dark-black margin-bottom-5px text-sidebar" href="{% url 'mcd:detailed_record_compare1' record.id 'comparison2'  display_image.id display_image_2.id %}">
                                Switching
                            </a>
                        </li>
                    </ul>
                    <a href="{% url 'mcd:upload_to_project_record' record.project_id.pk record.pk %}"
                       class="btn btn-success margin-top-15px margin-bottom-15px dropdown-toggle text-sidebar back-green hideable">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp
                        Add New Image to This Record
                    </a>
                </li>
               {% for photo in images_of_record %}
                    <li class="list-group-sidebar">
                    <div class="list-item-container">
                        <div class="list-item-first label-grey pad-ends-8px
                                    fill-available hideable">
                            #{{ photo.id }} | {{ photo.title }}
                        </div>

                        <div class="list-item-sidebar text-sidebar hideable">
                           <a href="{% url 'mcd:detailed_record_image_pk' record.id photo.id %}">
                                {% load index_templatetag %}
                                {{ photo.datetime_uploaded }}
                                {% if longest_crack|index:forloop.counter0 > 0 %}
                                    |
                                    {{ longest_crack|index:forloop.counter0 }}
                                    {% if display_cm|index:forloop.counter0 == 1 %}
                                        cm
                                    {% else %}
                                        px
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>

                        <div class="list-item-sidebar text-sidebar text-small showable hidden">
                           <a href="{% url 'mcd:detailed_record_image_pk' record.id photo.id %}">
                                {{ photo.datetime_uploaded |date:"M d, Y" }}
                                {% load index_templatetag %}
                                {% if longest_crack|index:forloop.counter0 > 0 %}
                                    {{ longest_crack|index:forloop.counter0 }}
                                    {% if display_cm|index:forloop.counter0 == 1 %}
                                        cm
                                    {% else %}
                                        px
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>

                        <div class="list-item-last hideable">
                            {% if photo.analysis_complete %}
                                <span class="text-green glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% else %}
                                <span class="text-orange glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
                    </li>

                {% endfor %}
            </ul>

        </nav>

        <!-- Page Content  -->
        <div class="record-container">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.extra_tags}}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="text-abel" href="{% url 'mcd:detailed_object' record.project_id.pk %}">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="glyphicon glyphicon-chevron-left"></span>&nbsp
                    Back to Project "{{ record.project_id.title }}"
                </a>
                <div class="container-fluid div-flex">
                    <button type="button" id="sidebarCollapse" class="btn btn-toggle-menu margin-right-15px">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>&nbsp
                    </button>
                    <h2 class="text-abel">
                        <b>
                            Record #{{ record.id }} |
                            {{ record.title|slice:"20" }}{% if record.title|length > 20 %}...{% endif %}
                        </b>
                        &nbsp
                        <a class="text-normal" href="{% url 'mcd:photo_analysis_detailed' display_image.id %}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp
                        </a>
                        <a class="text-normal" href="{% url 'mcd:update' display_image.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp
                        </a>
                        <p class="label-grey-outline-small margin-top-5px">
                            Project: {{ record.project_id.title }} | Image Analysis ID: {{ display_image.pk }}
                        </p>
                    </h2>
                </div>
            </nav>

            {% if comparison %}
                {% block comparison_content %}
                {% endblock %}
            {% else %}
                {% if display_image.analysis_status_json %}
                    <p id="status_json" status_json_url="{{ display_image.analysis_status_json.url }}" ></p>
                {% endif %}
                <h3><b>OUTPUT | </b> Classified Masonry Crack Overlay:</h3>
                <div class="row">
                    {% if not display_image.overlay_photo %}
                        <div class="col-sm-12 image-container">
                            <div class="progress-bar-label">
                                Please wait, the Image is being analysed ...
                            </div>
                            <div id="id_progress_bar" class="alert-warning progress-bar">

                            </div>
                        </div>
                    {% else %}
                        <div class="col-sm-12 image-container">
                            {% if display_image.overlay_photo %}
                                <img class="image-scaling" src={{ display_image.overlay_photo.url }}>
                            {% else %}
                                <div class="alert-warning">
                                    Please wait, the Image is being analysed ...
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="row floating-wrapper align-baseline">
                    <div class="col-sm-6 padding-1px-lr">
                        <h3>Input Image
                            <a class="label-grey-small text-normal" href="">
                                                {{ display_image.title }}
                            </a>
                        </h3>
                        <div class="image-container">
                                <img class="image-scaling" src={{ display_image.input_photo.url }}>
                        </div>
                    </div>
                    <div class="col-sm-6 padding-1px-lr">
                        <h3>Output Image</h3>
                            <div class="image-container">
                                {% if display_image.output_photo %}
                                    <img class="image-scaling" src="{{ display_image.output_photo.url }}">
                                {% else %}
                                    <div class="alert-warning">
                                        Please wait, the Image is being analysed ...
                                    </div>
                                {% endif %}
                            </div>
                    </div>
                </div>

                <div>
                    <button onclick="slide_div_toggle('sliding-divider')" class="btn btn-success">
                        Click for Detailed Crack Information
                    </button>
                    <div id="sliding-divider" class="sliding-div slide-off">
                            <ul class="list-group-sequence ">
                                {% for sorted_id in sorted_ids %}
                                    <li class="list-group-item">
                                        <div class="list-item-container">
                                            <div class="list-item-first label-grey">
                                                #{{ crack_labels|index:sorted_id }}
                                            </div>
                                        </div>
                                        <p class="detailed_crack_info list-item-sequence">
                                            {{ crack_lengths|index:sorted_id }}
                                        </p>
                                        <p class="detailed_crack_unit list-item-sequence">
                                            {% if display_cm|index:sorted_id == 1 %}
                                                cm
                                            {% else %}
                                                px
                                            {% endif %}
                                        </p>

                                {% endfor %}
                            </ul>
                    </div>
                </div>

                {% if display_image.crack_labels_photo %}
                    <script type="text/javascript" src="https://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>

                    <div class="row">
                        <div class="col-sm-12 image-container">
                            <img class="image-scaling" id="ImageMap1"
                                     usemap="#ImageMapmapAreas"
                                     class="map mapHiLight img-scaling"
                                     src="{{ display_image.crack_labels_photo.url }}"
                                     onload="resize_marker_location()">

                            <map id="ImageMapmapAreas" class="map" name="ImageMapmapAreas">
                                    {% load index_templatetag %}
                                    {% for crack_loc in crack_locations %}
                                        <div>
                                            <p class="crack-label label-grey-outline" style='{"position": "absolute",
                                                                          "left": "{{ crack_loc.0 }}",
                                                                          "top": "{{ crack_loc.1 }}"}'>
                                                #{{ crack_labels|index:forloop.counter0 }}
                                            </p>
                                            <area alt=""
                                                  title="x = {{ crack_loc.0 }} y = {{ crack_loc.1 }} | {{ crack_lengths|index:forloop.counter0 }}"
                                                  href="#{{ crack_labels|index:forloop.counter0 }}"
                                                  class="crack-marker"
                                                  coords="{{ crack_loc.0 }},{{ crack_loc.1 }},{{ crack_lengths|index:forloop.counter0 }}"
                                                  shape="circle"
                                                  data-text="TEST"
                                                  data-maphilight='{"strokeColor":"D60002",
                                                                    "strokeWidth":5,
                                                                    "fillColor":"00ff00",
                                                                    "fillOpacity":0.6}'/>
                                        </div>
                                    {% endfor %}
                            </map>
                        </div>
                    </div>

                {%  endif %}
            {% endif %}

        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    {% if not display_image.analysis_complete %}
    setInterval(function()
    {
        const url = $("#status_json").attr("status_json_url");  // get the url of the `load_cities` view

        $.ajax(
            {   // initialize an AJAX request
                url: url, // set the url of the request (= /persons/ajax/load-cities/ )
                success: function (data)
                {   // `data` is the return of the `load_cities` view function
                    console.log(data);
                    $('#id_progress_bar').css('width', (data.percentage_complete*100).toString()+'%');

                    if(data.percentage_complete > 0.99)
                    {
                        setTimeout(
                          function()
                          {
                            location.reload();
                          }, 100);
                    }
                },
                cache: false
         });

    }, 3000);
    {% endif %}

</script>

{% endblock %}