{# include the template block: #}
{% extends 'mcd/base-records.html' %}
{% block title %}
    MCD | {{ record.title }}
{% endblock %}
{% block body %}
{#    <h1>{{ page_title }}</h1>#}

{#    Number of images in this object: {{ object.num_photos }}#}
{#    <div class="wrapper-record">#}
{#        <div id="mySidenav" class="sidenav">#}
{#  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>#}
{#  <a href="#">About</a>#}
{#  <a href="#">Services</a>#}
{#  <a href="#">Clients</a>#}
{#  <a href="#">Contact</a>#}
{#</div>#}
{##}
{#<h2>Animated Sidenav Example</h2>#}
{#<p>Click on the element below to open the side navigation menu.</p>#}
{#<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>#}


        <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header text-sidebar">
                <h3>History</h3>
                <strong>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                </strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu"
                       data-toggle="collapse"
                       aria-expanded="false"
                       class="dropdown-toggle text-sidebar">
                        <i class="fas fa-home"></i>
                        Compare
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Comparing method 1</a>
                        </li>
                        <li>
                            <a href="#">Comparing method 2</a>
                        </li>
                        <li>
                            <a href="#">Comparing method 3</a>
                        </li>
                    </ul>
                </li>
               {% for photo in images_of_record %}
                    <li class="list-group-sidebar">
                    <div class="list-item-container">
                        <div class="list-item-first label-grey pad-ends-8px
                                    fill-available hideable">
                            #{{ photo.id }} | {{ photo.title }}
                        </div>

                        <div class="list-item-sidebar text-sidebar hideable">
                           <a href="{% url 'mcd:detailed_record_image_pk' record.id photo.id %}">
                                {% load index_templatetag %}
                                {{ photo.datetime_uploaded }}
                                {% if crack_len_cm|index:forloop.counter0 > 0 %}
                                    |
                                    {{ crack_len_cm|index:forloop.counter0 }}
                                    {% if display_cm|index:forloop.counter0 == 1 %}
                                        cm
                                    {% else %}
                                        px
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>

                        <div class="list-item-sidebar text-sidebar text-small showable hidden">
                           <a href="{% url 'mcd:detailed_record_image_pk' record.id photo.id %}">
                                {{ photo.datetime_uploaded |date:"M d, Y" }}
                                {% load index_templatetag %}
                                {% if crack_len_cm|index:forloop.counter0 > 0 %}
                                    {{ crack_len_cm|index:forloop.counter0 }}
                                    {% if display_cm|index:forloop.counter0 == 1 %}
                                        cm
                                    {% else %}
                                        px
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>

                        <div class="list-item-last hideable">
                            {% if photo.analysis_complete %}
                                <span class="text-green glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% else %}
                                <span class="text-orange glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
                    </li>

                {% endfor %}
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid div-flex">
                    <button type="button" id="sidebarCollapse" class="btn btn-toggle-menu margin-right-30px">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>&nbsp
                    </button>
                    <h1 class="text-abel">
                        Record #{{ record.id }} | {{ record.title }}
                        &nbsp
                        <a class="text-normal" href="{% url 'mcd:photo_analysis_detailed' display_image.id %}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp
                        </a>
                        <a class="text-normal" href="{% url 'mcd:update' display_image.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp
                        </a>
                        <p class="label-grey-outline-small margin-top-5px">
                            Project: {{ record.project_id.title }} | Image Analysis ID: {{ display_image.pk }}
                        </p>
                    </h1>
                </div>
            </nav>

            <h2><b>OUTPUT | </b> Classified Masonry Crack Overlay:</h2>
            <div class="img-container">
                {% if display_image.overlay_photo %}
                    <img class="img-scaling" width="1280px" height="720px" src="{{ display_image.overlay_photo.url }}">
                {% endif %}
            </div>

            <div class="floating-wrapper">
                <div>
                    <h2>Input Image
                        <a class="label-grey-small text-normal" href="">
                            {{ display_image.title }}
                        </a>
                    </h2>

                    <div class="img-container">
                        <img class="img-scaling" width="640px" height="360px" src="{{ display_image.input_photo.url }}">
                    </div>
                </div>
                <div>
                    <h2>Output Image</h2>
                    {% if display_image.output_photo %}
                        <div class="img-container">
                            <img class="img-scaling" width="640px" height="360px" src="{{ display_image.output_photo.url }}">
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#sidebarCollapse').on('click', function ()
            {
                $('#sidebar').toggleClass('active');
                $('.hideable').toggleClass('hidden');
                $('.showable').toggleClass('hidden');
                $('.shrinkable').toggleClass('text-small');
            });
        });
    </script>


{% endblock %}