{% extends 'mcd/base.html' %}
{% load crispy_forms_tags %}
{% block title %} MCD | Update {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel-body">
                {% include 'mcd/navigation/photo_analysis_nav.html' %}
                <form class="form-horizontal" action="" method="post"
                 enctype="multipart/form-data">
                    {% csrf_token %}

{#                    {{ form|crispy }}#}
                    {% crispy form %}

{#                    <div class="form-group floating-wrapper">#}
{#                        <div class="col-sm-offset-2 col-sm-10">#}
{#                            <button type="submit" class="btn btn-success">#}
{#                                Submit#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}

                </form>

                <div class="form-group floating-wrapper">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-success"
                           onclick="return confirm('Are you sure you want to delete this photo?\n' +
                       'This action is irreversible')"
                           href="{% url 'mcd:delete-photo' current_id %}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp
                            Delete Photo
                        </a>
                    </div>

                    <div class="col-sm-offset-2 col-sm-10">
                        <a href="{% url 'mcd:reanalyse-photo' photo_analysis.pk %}"
                           class="btn btn-success">
                            Reanalyse Photo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function ()
{
    $("#interactive-scale-btn").attr("onclick",'window.location.href="../add-scale-3/{{ current_id }}/1/1/g/?11,11"');
    // just for now:
    $("#id_project_id").css("display", "none");
    $('label[for="id_project_id"]').hide();
    $('label[for="id_record_id"]').hide();
    $("#id_record_id").css("display", "none");
});
</script>

{% endblock %}