{% extends 'mcd/base.html' %}
{% load crispy_forms_tags %}
{% block title %} MCD | Upload {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-body">
                <h3>Upload an Image for Analysis</h3>

                <form id="photo_analysis_form"
                      get-user-records-url="{% url 'mcd:get_user_records' %}"
                      class="form-horizontal"
                      action="" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if not object_exists %}
                        <h3>WARNING:</h3>
                        <p>No project currently exists to assign this new image to.</p>
                        <p>Please create a project first (by clicking the '+') before uploading an image!</p>
                    {% endif %}


                    {% crispy form %}

                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function ()
{
    $("#add-project-btn").attr("onclick",'window.location.href="{% url 'mcd:project-add' %}"');
});
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

  //  $("#id_project_id").onload(function(){
  //      $("#id_project_id").prepend("<option value='' selected='selected'>Choose the Project</option>");
  //  });
  {% if run_js == True %}

    $(window).on('load', function() {
         $("#id_project_id").prepend("<option value='' selected='selected'>Choose the Project</option>");
         $("#interactive-scale-btn").prop('disabled', true);
    });

    $("#id_project_id").change(function ()
    {
        const url = $("#photo_analysis_form").attr("get-user-records-url");  // get the url of the `load_cities` view

        const project_id = $(this).val();  // get the selected country ID from the HTML input
        {#const user_id = $(this).val();  // get the selected country ID from the HTML input#}
        console.log(project_id);

        $.ajax(
            {   // initialize an AJAX request
                url: url, // set the url of the request (= /persons/ajax/load-cities/ )
                data:
                {
                    'project_id': project_id       // add the country id to the GET parameters
                    {#'project_id': project_id       // add the country id to the GET parameters#}
                },
                success: function (data)
                {   // `data` is the return of the `load_cities` view function
                    {#$("#id_record_id").html(data);  // replace the contents of the city input with the data that came from the server#}

                    let html_data = '<option value="">Create a New Record Automatically</option>';
                    data.forEach(function (city) {
                        html_data += `<option value="${city.id}">${city.title}</option>`
                    });
                    console.log(html_data);
                    $("#id_record_id").html(html_data);

                }
         });

    });

  {% else %}
    $(window).on('load', function() {
         $("#id_record_id").find('option').get(0).remove();
         $("#add-project-btn").prop('disabled', true);
         $("#interactive-scale-btn").prop('disabled', true);
    });


  {% endif %}
</script>


{% endblock %}