{% extends 'mcd/base.html' %}
{% block title %} MCD | Upload {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel-body">

                <form class="form-horizontal" action="" method="post"
                 enctype="multipart/form-data">
                    {% csrf_token %}

{#                    {% include 'mcd/form/form_template.html' %}#}
                    {% if not object_exists %}
                        <h3>WARNING:</h3>
                        <p>No project currently exists to assign this new image to.</p>
                        <p>Please create an object first (by clicking the '+') before uploading an image!</p>
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group">
                            <div  class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">
                                    {{ field.errors }}
                                </span>
                            </div>

                            <label class="control-label col-sm-2"
                                   for="">
                                {{ field.label_tag }}
                            </label>
                            {# Input area / dropdown / selection #}
                            <div class="col-sm-10">
                                {{ field }}
                            </div>

                            {% if field.html_name == "object_id" %}
                            <div class="col-sm-10">
                              <a href="{% url 'mcd:object-add' %}">
                                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp
                                  Add New Object
                              </a>
                            </div>
                            {% endif %}

                        </div>
                    {% endfor %}

                    {% if not object_exists %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button disabled="true" type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    {% endif %}

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}