{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'mcd:index' %}">MCD</a>
            </div>

            <!-- These arre the menu items, marked collapsable ...
                 ... to hide them when the menu width is small -->
            <div class="collapse navbar-collapse" id="topNavBar">
                {#          navigation menu elements:                     #}
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="{% url 'mcd:object-list' %}">List Projects</a>
                        </li>
                        <li class="">
                            <a href="{% url 'mcd:image-list' %}">List Images</a>
                        </li>
                        <li class="">
                            <a href="{% url 'mcd:profile' %}">Profile</a>
                        </li>
                    </ul>
                {% endif %}

                {#          static user interaction elements:               #}
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li>
                            <div class="btn-group">
                              <button type="button" class="btn mcd-button no-padding-right dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown">
                                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp
                                  Add Analysis
                              </button>
                              <button type="button" class="btn mcd-button dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dark-background">
                                  <li>
                                      <a class="text-grey" href="{% url 'mcd:project-add' %}">
                                          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp
                                          Add New Project
                                      </a>
                                  </li>
                                  <li>
                                      <a class="text-grey" href="{% url 'mcd:upload' %}">
                                          <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp
                                          Upload Image for Analysis
                                      </a>
                                  </li>
{#                                  <a class="dropdown-item" href="#">Action</a>#}
{#                                  <a class="dropdown-item" href="#">Another action</a>#}
{#                                  <a class="dropdown-item" href="#">Something else here</a>#}
{#                                  <div class="dropdown-divider"></div>#}
{#                                  <a class="dropdown-item" href="#">Separated link</a>#}
                              </ul>
                            </div>
                        </li>
                    {% endif %}

                    <li class="limit-height">
                        <div class="floating-wrapper">
                            {% if user.is_authenticated %}
                                <form class="logout-link" action="{% url 'mcd:logout' %}" method="post">
                                    {% csrf_token %}

                                        <button class="btn mcd-button login-btn-padding" type="submit">
                                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp
                                            Logout | {{ user.username }}
                                        </button>
                                </form>
                            {% else %}
                                <form class="login-link" action="{% url 'mcd:login' %}" method="get">
                                    {% csrf_token %}
                                    <button class="btn mcd-button login-btn-padding" type="submit">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp
                                        Log In
                                    </button>
                                </form>
                                <form class="login-link" action="{% url 'mcd:register' %}" method="get">
                                    {% csrf_token %}
                                    <button class="btn mcd-button login-btn-padding" type="submit">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp
                                        Register
                                    </button>
                                </form>
                            {% endif %}

                        </div>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

{% endblock %}