{% extends 'mcd/base.html' %}
{% block title %}MCD | Register {% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.extra_tags}}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3>Update Email:</h3>
                        <ul class="list-group">
                            <li class="list-group-item">
                                 <div class="list-item-container">
                                     <div class="list-item-first label-grey-outline">
                                        Current Email:
                                     </div>
                                     <div class="list-item label-grey">
                                        {{ email }}
                                     </div>
                                 </div>
                            </li>
                        </ul>
{#                        {% if error_message %}#}
{#                            <p><strong>{{ error_message }}</strong></p>#}
{#                        {% endif %}#}
                        <p>Enter new email below:</p>
                        <form class="form-horizontal" role="form" method="post">
                            {% csrf_token %}

                            {% for field in form %}
                                {{ field }}
                            {% endfor %}

{#                            {% include 'mcd/form/form_template.html' %}#}

{#                          if the user is to be redirected after logging in ... #}
{#                          ... (to a page other than index/main)  #}
                            {% if request.GET.next %}
                                <h2>Please Log In to access the page {{ request.GET.next }}</h2>
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
{#                               on submit, we will send a post request with 'value' specified #}
                            {% endif %}
                            <p>NOTE: to change the email, you will be sent a new authentication email with a link</p>
                            <div class="form-group">
                                <div class="col-sm-offset--2 col-sm-10">
                                    <button type="submit" class="btn btn-success">
                                        Update Email (Requires re-authentication)
                                    </button>
                                </div>

                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}