{% block photo_analysis_nav %}
    <a class="text-abel" href="{% url 'mcd:image-list' %}">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-list"></span>&nbsp
        See Image List
    </a>
    <br>
    <a class="text-abel"
       href="{% url 'mcd:detailed_record_image_pk' photo_analysis.record_id.pk photo_analysis.pk %}">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-search"></span>&nbsp
        Locate Image in Record "{{ photo_analysis.record_id.title }}"
    </a>
{% endblock %}